<% if (typeof topmeta === 'undefined') { var topmeta = ''; } %>

<% if(topmeta['topmeta'] === 'topmeta'){ %>

<% 
var meta = { 
  title:'フジキ建設 ｜ 埼玉県草加市　リフォーム　新築　不動産', 
  description:'埼玉県草加市のフジキ建設です。埼玉県、東京都、千葉県を中心に、新築住宅建築、リフォーム、リノベーション、修繕工事、土地およびマンション等不動産仲介を行っております。住宅に関するあらゆる『困った』はフジキ建設までご相談ください。', 
  keywords:'フジキ建設,埼玉県草加市,リノベーション,不動産,リフォーム,修繕工事,マンション,土地,注文住宅'
}; 
%>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--favicons-->
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<link href="apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <meta name="format-detection" content="telephone=no" />
<!--/ favicons-->

<!--css-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/aos.css">
	<!--<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/style.css">-->
  <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/bootstrap4-print.css">
	<link rel="stylesheet" href="css/phosphor.css">
  <link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/noto-sans.css">
<% } else if(topmeta['topmeta'] === 'pagemeta'){ %>

<% 
var meta = { 
  title:'業務案内　｜　フジキ建設　｜　埼玉県草加市　リフォーム　新築　不動産', 
  description:'フジキ建設では、老朽化した建物をまるで新築のような内装に生まれ変わらせる不動産再生事業を手掛けております。フルリノベーション・リフォームから、交換作業などの小さな作業まであらゆるご要望に対応いたします。完全自社施工で責任をもってお客様によりそった快適な住宅をご提案いたします。', 
  keywords:'フジキ建設,埼玉県草加市,リノベーション,不動産,リフォーム,修繕工事,マンション,土地,注文住宅'
}; 
%>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--favicons-->
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<link href="apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <meta name="format-detection" content="telephone=no" />
<!--/ favicons-->

<!--css-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/aos.css">
	<!--<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/style.css">-->
  <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/bootstrap4-print.css">
	<link rel="stylesheet" href="css/phosphor.css">
  <link rel="stylesheet" href="css/lightcase.css">
  <link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/noto-sans.css">
<% } else if(topmeta['topmeta'] === 'pagemeta2'){ %>

<% 
var meta = { 
  title:'不動産情報 ｜ フジキ建設 ｜ 埼玉県草加市　リフォーム　新築　不動産', 
  description:'埼玉県草加市のフジキ建設の不動産情報をご紹介しています。埼玉県、東京都、千葉県の新築住宅建築、リフォーム、リノベーション、修繕工事、土地およびマンション等不動産情報を取り扱っております。ぜひお気軽にお問い合わせ下さい。', 
  keywords:'フジキ建設,埼玉県草加市,リノベーション,不動産,リフォーム,修繕工事,マンション,土地,注文住宅'
}; 
%>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--favicons-->
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<link href="apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <meta name="format-detection" content="telephone=no" />
<!--/ favicons-->

<!--css-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/aos.css">
	<!--<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/style.css">-->
  <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/bootstrap4-print.css">
	<link rel="stylesheet" href="css/phosphor.css">
  <link rel="stylesheet" href="css/lightcase.css">
  <link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/noto-sans.css">
<% } else {  %>
<% 
var meta = { 
  title:'会社概要　｜　フジキ建設　｜　埼玉県草加市　リフォーム　新築　不動産', 
  description:'埼玉県草加市のフジキ建設の会社概要です。今年で法人設立30年目を迎える当社は、新築、増改築、リフォーム、耐震補強、家具製作とお客様のニーズに応えるべく業務を広げ、今日に至ります。これからも当社はサービス向上と挑戦を忘れずに、当り前のことを当り前に行い、邁進してまいります。', 
  keywords:'フジキ建設,埼玉県草加市,リノベーション,不動産,リフォーム,修繕工事,マンション,土地,注文住宅'
}; 
%>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--favicons-->
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<link href="apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <meta name="format-detection" content="telephone=no" />
<!--/ favicons-->

<!--css-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/aos.css">
	<!--<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/style.css">-->
  <link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/bootstrap4-print.css">
	<link rel="stylesheet" href="css/phosphor.css">
  <link rel="stylesheet" href="css/lightcase.css">
  <link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/noto-sans.css">
<% } %>